.MainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.MainContent {
    background-color: #8080ff;
    height: 100%;
}

.TreeListContainer {
    display: flex;
    margin-top: 20px;
    height: 60%;
}

.TreeContainer {
    width: 20%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.ListContainer {
    width: 70%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 40px;
}

.Tree{
    overflow: hidden;
}