.titulo{
    align-items: center;
    justify-content: center;
    background-color: #8080ff;
    width: 100%;
}
.container, .col-16{
    margin: 0;
}

.menu{
    background-color: #ffffff;
    margin-right: 10%;
    margin-left: 5%;
}

.menuBar{
    background-color: #ffffff;
}

.menus{
    color: #000000;
}

.icon{
    width: 5%;
}
