.row {
  display: flex;
  flex-wrap: wrap;
  }
  
  .row-left {
    width: 30%;
    border: 1px solid black;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
  }
  
  .row-right {
    width: 70%;
    border: 1px solid black;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
  }